NEXT_PUBLIC_SUPABASE_URL=https://rwmpqlnakmexugwihisy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3bXBxbG5ha21leHVnd2loaXN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYyMjIzMzEsImV4cCI6MjA3MTc5ODMzMX0.60TGE2_T_n4ypzM8asIL652HtBa-Z_IeMv61OHf4m_s
LISA_BUSINESS_ID=2ab32295-5f15-4732-ac49-4419fe6d8356
N8N_WEBHOOK_URL=
SUPABASE_SERVICE_ROLE_KEY=
